
.div_formation{
    padding: 0rem 1rem 0rem 1rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

 &_title {
    margin: 0%;
    font-size: 27px;
 }

 &_paragraph {
    font-weight: 500;
    font-size: 16px;
    margin-top: 0.5rem;
    text-align: center;
 }

 &_link {
        
    cursor: pointer;
    margin-left: 1rem;
    color: black;
}
}
.strong {
    font-weight: 700;
    text-transform: uppercase;
}
.list {
    list-style-type: none;
}

@media (min-width : 1600px) {

    .div_formation {
        padding: 0.5rem 2rem 0rem 2rem;


        &_paragraph {
            font-size: 20px;
    
        }
    }
    
}

@media (max-width: 1000px ) {
    .div_formation {

        text-align: center;
        border: 1px solid black;

    }
}

