$color_text_footer : white;
$background_color : #8FC164;
$color_text : white;
$color_square : white; 
$color_text_on_white : black;
$background_color_temoignages : white;
$background_color_menu_hidden : black;



/* Police d'écriture */

* {
    font-family: raleway, system-ui, Roboto, sans-serif;
}


