.bigsquare{
    background-color: $color_square;
    width: 40%;
    height: 100%;
    position: absolute;
    right: 10%;
    top: -130px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

@media (max-width : 780px) {

    .bigsquare {

        top: 0%;
        right: 0%;
        width: 100%;
        box-shadow: none;
    }
}