.square {
    background-color: $color_square;

    width: 25%;
    height: 100%;
    position: absolute;
    left: 10%;
    top: -130px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

@media (max-width: 780px) {
    .square {
        top: -100%;
        left: 0%;
        width: 100%;
    }
    
    
}

/* Carré de la page de contact */

.squarecontact{
    @include flex_column_center;
    background-color: $color_square;
    width: 100%;
    border-radius: 20px;
    width: 25%;
    height: 100%;
    position: absolute;
    left: 10%;
    top: -130px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 20px;
    }
}



.reversesquarecontact{
    background-color: $color_square;
    width: 100%;
    border-radius: 20px;
    width: 25%;
    height: 100%;
    position: absolute;
    right: 10%;
    top: -130px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 20px;
    }
}

@media (max-width: 770px) {

    .squarecontact {
        top: 0%;
        left: 0%;
        width: 100%;
        border-radius: 0px;
        box-shadow: none;
        padding: 0%!important;
    }

    .reversesquarecontact {
        top: -100%;
        left: 0%;
        right: 0%;
        width: 100%;
        border-radius: 0px;
        box-shadow: none;

        img {
            border-radius: 0px;
        }
    }

}