.footer {
    /*@include flex_row_space_around;*/
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    background:$background_color;
    color: $color_text;

    min-height: 15rem;

    &_column {
        padding-top: 2rem;
    }

    &_bar {
        margin: 2rem;
    }

    a {
        color: $color_text_footer;
        text-decoration: none;

    }

    li {
        list-style-type: none;
        font-size: 18px;
    }
}

@media (max-width : 991px) {
    .footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &_bar {
            width: 80%;
            margin: 1rem;
        }

        &_column {
            padding-top: 0.5rem;
        }
    }
    
}