
.menu_hidden {
   
    width: 98%;
    height: 7rem;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7));
    position: absolute;
    z-index: 10;
    border: 2px solid rgba(143, 193, 100, 1);
    margin: 0%;

    &_header_navbar {
        width: 90%;
        color : white;
        padding-left: 5rem;

        a {
            text-decoration: none;
            color: white;
            cursor: pointer;
        }
        
        ul {
            list-style-type: none;
            padding: 0%;
            margin: 0%;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            row-gap: 2rem;
            column-gap: 2rem;
        }

        li {
            font-size: 24px;
            font-weight: bold;

        }

    }
   
}
@media (max-width: 1000px ) {

    .menu_hidden {
        width: 98%;
        height: 15rem;
        display: flex;
            justify-content: center;
            align-items: center;


    }
}

@media (max-width: 900px) {

    .menu_hidden {

        &_header_navbar {


            li {
                font-size: 34px;
            }
        }
    }
}

@media (max-width: 900px) {

    .menu_hidden {

        &_header_navbar {
            padding-left: 2.5rem;

            li {
                font-size: 22px;
            }
        }
    }
}

@media (max-width: 768px) {

    .menu_hidden {
        width: 97%;
        &_header_navbar {
           
            ul {
                grid-template-columns: 1fr 1fr;
                padding-right: 1rem;
            }
        }
    }
}

@media (max-width: 500px) {

    .menu_hidden {
        height: 17rem;
        width: 96%;

        &_header_navbar {
            ul {
                grid-template-columns: 1fr 1fr;
                
            }
            li {
                font-size: 18px;
            }
        }
    }
}

.menu_hidden_header_navbar_list li a{
    text-transform: uppercase;
}

@media (max-width: 430px) {

    .menu_hidden {
        width: 95%;

        &_header_navbar {
            width: 60%;
            
            
            li {
                font-size: 16px;
            }
        }
    }
}